<div class="container">
  <div class="coach-chat">
    <p><%= @question %></p>
    <p>-you</p>
  </div>
  <div class="coach-chat">
    <p><%= @response %></p>
    <p>-coach</p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
