<div class="text-center container d-flex justify-content-center align-items-center my-10">
  <form action="/answer"  method="get">
    <div class="form-group">
      <input class="form-control" type="text" name="question" placeholder="Ask coach a question" value= <%=@query%>>
      <input class="btn btn-primary my-3" type="submit" value="ask">
    </div>
  </form>
</div>
